.body{
    height: 100vh;
}
.main-grid{
    background-color: beige;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    'header header header'
    'content content content'
    'footer footer footer';
    gap: 2rem;
    height: 100vh;
}

.header{
    background-color: aquamarine;
    grid-area: header;
}
.content{
    background-color: bisque;
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    'far-left left center right far-right'
    'far-left left center right far-right'
    'far-left left center right far-right'
    'far-left left center right far-right'
    'far-left left center right far-right';

}
.far-left {
    background-color: rgb(172, 205, 193);
    grid-area: far-left;
}
.far-left > Abisko1 {
    grid-area: far-left;
}
.left {
    background-color: rgb(254, 171, 171);
    grid-area: left;
}
.left > Layout{
    grid-area: left;
}
.center {
    background-color: rgb(188, 134, 214);
    grid-area: center;
}
.center > Namnlöst-1{
    grid-area: center;
}
.right {
    background-color: rgb(255, 240, 224);
    grid-area: right;
}
.right > Patrick {
    grid-area: right;
}
.far-right {
    background-color: rgb(199, 195, 240);
    grid-area: far-right;
}
.footer{
    background-color: rgb(161, 255, 255);
    grid-area: footer;
}
